[submodule "submodules/PrettyPipes"]
	path = submodules/PrettyPipes
	url = https://github.com/Ellpeck/PrettyPipes.git
	branch = 1.18
	ignore = all
[submodule "submodules/Cyclic"]
	path = submodules/Cyclic
	url = https://github.com/Lothrazar/Cyclic.git
	branch = trunk/1.18
	ignore = all
[submodule "submodules/Applied-Energistics-2"]
	path = submodules/Applied-Energistics-2
	url = https://github.com/AppliedEnergistics/Applied-Energistics-2.git
	branch = forge/1.18.2
	ignore = all
[submodule "submodules/refinedstorage"]
	path = submodules/refinedstorage
	url = https://github.com/refinedmods/refinedstorage.git
	branch = minecraft/1.18
	ignore = all
[submodule "submodules/Mekanism"]
	path = submodules/Mekanism
	url = https://github.com/mekanism/Mekanism.git
	branch = 1.18.x
	ignore = all
[submodule "submodules/McJtyLib"]
	path = submodules/McJtyLib
	url = https://github.com/McJtyMods/McJtyLib.git
	branch = 1.18
	ignore = all
[submodule "submodules/XNet"]
	path = submodules/XNet
	url = https://github.com/McJtyMods/XNet.git
	branch = 1.18
	ignore = all
[submodule "submodules/ModularRouters"]
	path = submodules/ModularRouters
	url = https://github.com/desht/ModularRouters.git
	branch = MC1.18.2-master
	ignore = all
[submodule "submodules/SophisticatedCore"]
	path = submodules/SophisticatedCore
	url = https://github.com/P3pp3rF1y/SophisticatedCore.git
	branch = 1.18.x
	ignore = all
[submodule "submodules/RFToolsBase"]
	path = submodules/RFToolsBase
	url = https://github.com/McJtyMods/RFToolsBase.git
	branch = 1.18
	ignore = all
[submodule "submodules/SophisticatedBackpacks"]
	path = submodules/SophisticatedBackpacks
	url = https://github.com/P3pp3rF1y/SophisticatedBackpacks.git
	branch = 1.18.x
