[submodule "submodules/Applied-Energistics-2"]
	path = submodules/Applied-Energistics-2
	url = https://github.com/AppliedEnergistics/Applied-Energistics-2.git
[submodule "submodules/ModularRouters"]
	path = submodules/ModularRouters
	url = https://github.com/desht/ModularRouters
	branch = MC1.19.3-master
[submodule "IronFurnaces"]
	path = submodules/IronFurnaces
	url = https://github.com/Qelifern/IronFurnaces.git
	branch = 1.19.3
